body {
    font-family: helvetica, arial, sans-serif;
}
  
h1 {
    color: #3a241d;
    text-align: center;
    font-size: 500%;
}

#contenedor-izquierdo {
	background-color: rgb(83, 197, 17);
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

.contenedor-componente{
	display: flex;
}

#contenedor-derecho {
	background-color: rgb(76, 192, 41);
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

#cielosol{
    position: absolute;
	max-width: 300%;
	max-height: 300%;
}

.componente {
	position: absolute;
	max-width: 120%;
	max-height: 120%;
	z-index: 2;
}

.cielo {
	height: 80%;
	width: 60%;
	background: #067d9e;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.1;
	z-index: -1;
    margin: auto;
    left: 0px;
    right: 0px;
}

.suelo {
	width: 60%;
	height: 45%;
	background: #cc520b;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 2;
	z-index: 1;
}
